<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>   
    
    <!--LOCAL
    <add name="AWayEntities" connectionString="metadata=res://*/AWay.csdl|res://*/AWay.ssdl|res://*/AWay.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-9OC76U0\SQLEXPRESS;initial catalog=Away;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    -->
    <!--PRODUCTION -->
    <add name="AWayEntities" connectionString="metadata=res://*/AWay.csdl|res://*/AWay.ssdl|res://*/AWay.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:sql2k1201.discountasp.net;initial catalog=SQL2012_222202_away;User ID=SQL2012_222202_away_user;Password=November71951;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
